.wrapper {
  width: 980px;
  margin: 50px auto 0;
  padding: 20px;
  height: 700px;
  border: 1px dotted #999999;
}

.menu {
  margin-bottom: 20px;
}

.field {
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

.field .cell {
  border: 1px solid #666666;
  width: 30px;
  height: 30px;
  float: left;
}

.loading {
  background: #296190 url(../image/ajax-loader.gif) 5px center no-repeat!important;
  padding-left: 25px;
}

.big-loading {
  height: 150px;
  width: 100%;
  background: url(../image/ajax-loader-big.gif) center center no-repeat;
}

.big-caption {
  text-align: center;
  font-size: 26px;
}